{% extends 'base.html' %}

{% block content %}
    {{ topic.title }}
    <div class="answer-topic add-box">
        <form class="form-group" action="" method="post">
            {{ answer_form.hidden_tag() }}
            <div class="form-group">
                {{ answer_form.performance_rating.label }}
                {{ answer_form.performance_rating(class="form-control") }}
                {% for error in answer_form.performance_rating.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ answer_form.body.label }}
                {{ answer_form.body(class="form-control") }}
                {% for error in answer_form.body.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>{{ answer_form.submit(class="btn btn-outline-success") }}</div>
        </form>
    </div>
{% endblock %}